link(rel="stylesheet", href="/css/widgets.css")

block scripts
	style
		ul#widgets { list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px; width: 300px; }

	script(type="text/javascript", src="/js/jquery.js")
	script(type="text/javascript", src="/js/jquery-ui.js")
	script(type="text/javascript", src="/js/d3.js")
	script(type="text/javascript", src="/js/widgets/widget.js")
	script(type="text/javascript", src="/js/iris.js")
	- each widget in list
		script(type="text/javascript", src="/js/widgets/"+widget.js)
	script
		var widgetCounter = 1;
		var widgets = {};
		function addWidgetDiv() {
			var newDivId = "workspace" + widgetCounter++;
			$("#widgets").append(
				'<li class="well"><div id="' + newDivId +
				'" style="position:relative"></div></li>'
			);
			$("#" + newDivId).parent().draggable({containment: "#container", scroll:false});
			return newDivId;
		}
		function renderWidget(elem, widgetId) {
			if ($(elem).hasClass('active')) {
				var widgetDiv = widgets[widgetId];
				$("#" + widgetDiv).parent().remove();
				$(elem).removeClass('active');
			} else {
				var divId = addWidgetDiv();
				var widget = Widget.createWidget(widgetId);
				widget.render(divId, {});
				$(elem).addClass('active');
				widgets[widgetId] = divId;
			}
		}
		
	script
		$(function() {
			var widgetSizeButton = null;
			$("#widgetSize").children('a').click(function(e) {
				var button = $(e.target);
				if (widgetSizeButton == null || button.attr('value') != widgetSizeButton.attr('value')) {
					if (widgetSizeButton != null) {
						widgetSizeButton.removeClass('active');
					}
					widgetSizeButton = button;
					button.addClass('active');
					$("ul#widgets").width(button.attr('value'));
				}
			})
			$("#widgetSize").children('[value="100%"]').click();
		});

.span12
	h3 Workspace
.span8(id="container")
	ul(id="widgets")
.span4
	div(class="well", style="padding:8px 0")
		ul(class="nav nav-list")
			li(class="nav-header") Widgets
			- each w in list
				li
					a(href="#", onclick="renderWidget(this.parentNode, '#{w.id}')") #{w.name}
			li(class="nav-header") Settings
			div
				small Widget Size
				.btn-group(id="widgetSize")
					a.btn(value="300") Small
					a.btn(value="100%") Large
